html, body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #5b6069;
  /* background-color: #e2d8d8; */
}

._numeros{
  font-family: 'Roboto Mono', monospace;
}

._tabla{
  font-family: 'Josefin Sans', sans-serif;
}

.text-login{
  color: greenyellow
}